.margin {
    margin-right: 10px;
}

.card-header {
    font-weight: 800;
    background-color: #FA8072;
}

.brazil {
    background-color: #008000 !important;
    color: #ffffff;
    font-weight: 600;
}

.usa {
    background-color: #B22222 !important;
    color: #ffffff;
    font-weight: 600;
}